<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_python_10_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter - Advance Python**
# **Name - JSON**
**Description - Use of commands**

**JSON Format**

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

**Syntax: import json**

{

    "name": "Deepak",
    "age": "28",
    "city": "Nagpur",
    "haschildren": false,
    "titles": [
        "engineer",
        "doctor"
    ]
}

**Note That:  Simple Python objects are translated to JSON according to the following conversion:**

      Python                                                JSON 
      dict                                                 object 
      list, tuple                                          array  
      str                                                  string 
      int, long,float                                      number 
      True                                                 true 
      False                                                false 
      None                                                 null

**Serialization or Encoding**

Converting Dictonaries Into JSON Data

Convert from Python to JSON

If you have a Python object, you can convert it into a JSON string by using the **json.dumps()** method.

In [2]:
import json

person = {"name": "Deepak", "age": "28", "city": "Nagpur", "haschildren": False, "titles": ["engineer", "doctor"]}

#Converting python object to JSON
people_json = json.dumps(person)
print(people_json)

# Giving same style to JSON Object
people_json = json.dumps(person, indent = 4)
print(people_json)

{"name": "Deepak", "age": "28", "city": "Nagpur", "haschildren": false, "titles": ["engineer", "doctor"]}
{
    "name": "Deepak",
    "age": "28",
    "city": "Nagpur",
    "haschildren": false,
    "titles": [
        "engineer",
        "doctor"
    ]
}

**Changing some Separators**

In [8]:
import json

person = {"name": "Deepak", "age": "28", "city": "Nagpur", "haschildren": False, "titles": ["engineer", "doctor"]}

# with default separators
people_json = json.dumps(person, indent = 4)
print(people_json, "\n")

# With our own custom separators
people_json = json.dumps(person, indent = 4, separators=(";","="))
print(people_json)

# Rearranging with the help of sort_key method
people_json1 = json.dumps(person, indent = 4, sort_keys = True)
print(people_json1)

{
    "name": "Deepak",
    "age": "28",
    "city": "Nagpur",
    "haschildren": false,
    "titles": [
        "engineer",
        "doctor"
    ]
}

{
    "name"="Deepak";
    "age"="28";
    "city"="Nagpur";
    "haschildren"=false;
    "titles"=[
        "engineer";
        "doctor"
    ]
}
{
    "age": "28",
    "city": "Nagpur",
    "haschildren": false,
    "name": "Deepak",
    "titles": [
        "engineer",
        "doctor"
    ]
}