<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_02_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Tuples are immutuable, ordered and allow duplicate element
#  Empty Tuple
mytuple = ()
print(mytuple)
type(mytuple)

()

tuple

In [12]:
#  Making Tuple with manaul entry
mytuple = ("Maxx", 5 , 10.5, True)
print(mytuple)
type(mytuple)

# Allow duplicate entry
mytuple = ("Maxx", 5 , 10.5, True, "Max", 5)
print(mytuple)
type(mytuple)

# Another type

mytuple1 = tuple(["Maxx", 10, False])
print(mytuple1)
type(mytuple1)

('Maxx', 5, 10.5, True)
('Maxx', 5, 10.5, True, 'Max', 5)
('Maxx', 10, False)

tuple

In [21]:
# Indexing of tuple
print(mytuple)

print(mytuple[0])
print(mytuple[1])
print(mytuple[2],"\n")

# itering
for i in mytuple1:
  print(i)

('Maxx', 5, 10.5, True, 'Max', 5)
Maxx
5
10.5

Maxx
10
False

In [29]:
# checking the element
print(mytuple1)

if "Maxx" in mytuple1:
  print("Yes\n")
else:
  print("no\n")

if "Max" in mytuple1:
  print("Yes\n")
else:
  print("no\n")

('Maxx', 10, False)
Yes

no

In [35]:
# Length and count commands
print(mytuple)

print(len(mytuple))

print(mytuple.count("Maxx"))

('Maxx', 5, 10.5, True, 'Max', 5)
6
1

In [39]:
# Converting tuple into list

mytuple= ("a","c","d","v","k")

my_list = list(mytuple)
print(my_list)

mytuple2 = tuple(my_list)
print(mytuple2)

['a', 'c', 'd', 'v', 'k']
('a', 'c', 'd', 'v', 'k')

In [55]:
# Slicing of tuple
print(mytuple2)
b = mytuple2[0:5]
print(b)
b = mytuple2[0:4]
print(b)
b = mytuple2[:3]
print(b)
b = mytuple2[::-1]
print(b)

# Index command
print(mytuple.index('c'))
print(mytuple.index('d'))

('a', 'c', 'd', 'v', 'k')
('a', 'c', 'd', 'v', 'k')
('a', 'c', 'd', 'v')
('a', 'c', 'd')
('k', 'v', 'd', 'c', 'a')
1
2

In [50]:
# Unpacking of tuple

a = (0,1,2)
i1,i2,i3 = a

print(i1)
print(i2)
print(i3)

a = (0,1)
i1,i2,i3 = a

print(i1)
print(i2)
print(i3)

0
1
2

ValueError: ignored

In [52]:
# Unpacking of tuple
a = (0,1,2,3,4,5)
i1 , *i2, i3 = a
print(i1)
print(i2)
print(i3)

0
[1, 2, 3, 4]
5

In [4]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']