<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_python_01_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter - Advance Python**

**Name - Lists**

**Descriptions - Use of all commands**

In [1]:
# Empty list
#  Lists are mutable, ordered, and allows duplicate elements
mylist = []
my_list = list()
print(type(mylist))
print(mylist)
print(my_list)

<class 'list'>
[]
[]

In [ ]:
# making new list with manual entry
mylist = ["banana", "mango","cheery", "apple", "blueberry"]


# allow various datatypes  
mylist2 = [5, "Jim", False, 5.050]

# allows duplicate elements

mylist3 = [5, "jim", False, 5.05, 5, "jim", False, 5.05]

print(mylist)
print(mylist2)
print(mylist3)

['banana', 'mango', 'cheery', 'apple', 'blueberry']
[5, 'Jim', False, 5.05]
[5, 'jim', False, 5.05, 5, 'jim', False, 5.05]

In [ ]:
# Indexing of list
print(mylist3)

print(mylist3[0])
print(mylist3[2])
print(mylist3[1])
print(mylist3[3])
print(mylist3[4])
print(mylist3[5])
print(mylist3[6])
print(mylist3[7],"\n")


#  reverse indexing of list
print(mylist3[-1])
print(mylist3[-2])
print(mylist3[-3])
print(mylist3[-4])
print(mylist3[-5])
print(mylist3[-6])
print(mylist3[-7])
print(mylist3[-8])

[5, 'jim', False, 5.05, 5, 'jim', False, 5.05]
5
False
jim
5.05
5
jim
False
5.05

5.05
False
jim
5
5.05
False
jim
5

In [ ]:
# Clear command 
mylist3 = [5, "jim", False, 5.05, 5, "jim", False, 5.05]

item = mylist3.clear()
print(mylist3)

print(item)

[]
None

In [ ]:
# Copy command

mylist3 = [5, "jim", False, 5.05, 5, "jim", False, 5.05]

# my_list1 = mylist3.copy()

print(mylist3)
#  Count Command
mylist3.count("jim")
mylist3.count(5)
# length commands

print(len(mylist3))

# mylist3.append("Lemon")
# print(mylist3)

mylist3.insert(1, "banana")
print(mylist3)

mylist3.pop()
print(mylist3)

mylist3.reverse()
print(mylist3)

[5, 'jim', False, 5.05, 5, 'jim', False, 5.05]
8
[5, 'banana', 'jim', False, 5.05, 5, 'jim', False, 5.05]
[5, 'banana', 'jim', False, 5.05, 5, 'jim', False]
[False, 'jim', 5, 5.05, False, 'jim', 'banana', 5]

In [ ]:
# Concat and Multiply the list
mylist = [0]*5
mylist1 = [1,2,3,4,5]

new_list = mylist + mylist1
print(new_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [ ]:
# Slicing

print(new_list)

print(new_list[:])
print(new_list[-8:-1])
print(new_list[0::2])

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]
[0, 0, 0, 1, 2, 3, 4]
[0, 0, 0, 2, 4]

In [ ]:
# Copy Command 
new_list1 = new_list

new_list1.append("5")

print(new_list1)
print(new_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']

In [ ]:
# Copy Command 
new_list1 = list(new_list)
new_list1.insert(1, 1)


print(new_list1)
print(new_list)

[0, 1, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']

In [ ]:
# Copy Command 

new_list1 = new_list[:]

print(new_list1)
print(new_list)
#  Sort Command
new_list2 = [0,5,6,8,1,5,-5,-6]
new_list2.sort()
print(new_list2)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, '5', '5']
[-6, -5, 0, 1, 5, 5, 6, 8]

In [ ]:
# List comprehension

lst = [0,1,2,3,4,5,6,7,8,9]
lst1 = [x*x for x in lst]
lst2 = [i*i for i in lst if i%2==0]

print(lst)
print(lst1)
print(lst2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']