<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_03_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#  Sets are unordered, mutable, does not allow duplicate elements

#  Adding elements

myset = {1,2,3,4,5}
type(myset)

# Doesn't allow duplicate

myset = {1,2,3,1,2,3,1,2,6}
print(myset)

{1, 2, 3, 6}

In [9]:
# empty set

myset = set([1,2,3,5,1,2,65,1,55,])
type(myset)
print(myset)

myset1 = set("Hello world")
print(myset1)

{65, 1, 2, 3, 5, 55}
{'r', 'l', 'd', 'o', 'H', 'w', ' ', 'e'}

In [27]:
#  Adding and removing the elements 

myset = set()

myset.add(1)
myset.add(2)
myset.add(5)

print(myset)

myset.remove(5)
print(myset)

myset.discard(2)
print(myset)

myset = set([1,2,3,5,9,3,1,5,2,1,5])
print(myset)

myset.pop()
print(myset)


# myset.clear()
# print(myset)

{1, 2, 5}
{1, 2}
{1}
{1, 2, 3, 5, 9}
{2, 3, 5, 9}

In [34]:
#  Itering

print(myset)

for i in myset:
  print(i)
print("\n")
if 1000 in myset:
  print("Yes")
else:
  print("No")

{2, 3, 5, 9}
2
3
5
9


No

In [40]:
#  Union, Intersection , subset

x = {1,3,5,7,9}
y = {0,2,4,6,8}
z = {1,2,3,5,7,}

u = x.union(y)
print(u)

v = x.intersection(y)
print(v)

w = x.intersection(z)
print(w)

n = y.intersection(z)
print(n)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()
{1, 3, 5, 7}
{2}

In [54]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9,10,11,12,13,15,19}

diff = set1.difference(set2)
print(diff)

diff1 = set2.difference(set1)
print(diff1)

sysdiff = set1.symmetric_difference(set2)
print(sysdiff) 

sysdiff1 = set2.symmetric_difference(set1)
print(sysdiff1)

set1.update(set2)
print(set1)

set2.update(set1)
print(set2)

set1.intersection_update(set2)
print(set1)

{4, 5, 6, 7, 8}
{10, 11, 12, 13, 15, 19}
{4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 19}
{4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}

In [57]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9,10,11,12,13,15,19}

# set1.difference_update(set2)
# print(set1)

set1.symmetric_difference_update(set2)
print(set1)

{4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 19}

In [6]:
# superset subset disjoin
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9}
# Subset
print(set1.issubset(set2))
print(set2.issubset(set1))

print("\n")

# superset
print(set1.issuperset(set2))
print(set2.issuperset(set1))

print("\n")

# Disjoin

print(set1.isdisjoint(set2))
print(set2.isdisjoint(set1))

print("\n")

set3 = {15,96,66}

print(set1.isdisjoint(set3))
print(set2.isdisjoint(set3))

False
True


True
False


False
False


True
True

In [16]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']